# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/build-aux/*
!/build-aux/git-version-gen
!/build-aux/travis-build.sh
!/build-aux/travis-deploy.sh
/squareball.pc

# installed .m4 files
/m4/*.m4
!/m4/pkg.m4

# examples
/examples/hello_configparser
/examples/hello_dir_create
/examples/hello_file_read
/examples/hello_file_write
/examples/hello_shell
/examples/hello_slist
/examples/hello_string
/examples/hello_trie

# tests
/tests/check_configparser
/tests/check_error
/tests/check_shell
/tests/check_slist
/tests/check_strfuncs
/tests/check_string
/tests/check_trie

# tarballs
squareball-*.tar.*
squareball-*.zip

# documentation
/Doxyfile
/doc/build

# RPM spec file
/squareball.spec
squareball-*.rpm

# git-version-gen
/.version
